.b{
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    border:1px solid grey;
    padding: 10px;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.425);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
}

.modals {
    width: 60%;
    position: relative;
    background-color: white;
    border-radius: 10px;
    z-index: 1001;
    padding: 10px;

}

.cross-line {
    text-align: end;
}